<div class="wrapper">
	<div class="container">
		<div class="title largevertspace">
			<%= link_to '878 media', root_url %>
		</div>
		<div class="medtitle medvertspace">
			Translate your thoughts into words.
		</div>
		<div class="largevertspace">
			<div class="twocol">
				<%= link_to 'sign in', '#', class: "regbutton" %>
			</div>
			<div class="twocol">
				<%= link_to 'register', '#', class: "specbutton" %>
			</div>
		</div>
		<div class="medvertspace">
			Recent Articles
		</div>
	</div>
	<%= render 'partials/home_footer' %>
</div>